<p>Detailed Contact Information</p>
<p>First Name: <%= @contact['first_name'] %></p>
<p>Last Name: <%= @contact['last_name'] %></p>
<p>Phone Number: <%= @contact['phone_number'] %></p>
<p>Email: <%= @contact['email'] %></p>
<a href="http://localhost:3001/client/contacts/<%= @contact['id'] %>/edit">Edit Contact</a>
